body	{background: #6C96EB}

h1	{text-align:center;
	 color: #0E275A;
	 font-family: Algerian;
	 font-size: 40px;}

h4	{text-align:center;}

legend	{background-color: #0E275A;
	 color: white;
	 padding: 5px 10px;}

